{% extends 'base.html' %}
{% block title %}ABOUT{% endblock title %}
{% block content %}
<img src="https://img.icons8.com/external-dreamstale-lineal-dreamstale/64/000000/external-grumpy-emoji-dreamstale-lineal-dreamstale.png"/>
<img src="https://img.icons8.com/external-dreamstale-lineal-dreamstale/64/000000/external-unamused-emoji-dreamstale-lineal-dreamstale.png"/>

<h1> you are searching about page in this app too.</h1>

<h2>click the doggie here for a real about page</h2>

<a href="https://helloworld-byhk.herokuapp.com"><img src="https://img.icons8.com/external-justicon-lineal-justicon/64/000000/external-dog-dog-and-cat-justicon-lineal-justicon-2.png"/></a>
{% endblock content %}